body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}
#container h1{
    font-size: 20px;
}